<div class="collapse-container" {{#if (not this.nonav)}}id="{{this.link}}"{{/if}}>
    <div class="container">
        <div class="more-button">
            <a class="btn btn-default " role="button" data-toggle="collapse" href="#collapse-{{@index}}" aria-expanded="false" aria-controls="collapse-{{@index}}">{{title}} <span class="glyphicon glyphicon-menu-down"></span></a>
        </div>

        <div class="collapse" id="collapse-{{@index}}">
            {{>content_row}}
        </div>
    </div>
</div>