<div class="collapse-container" {{#if (not this.nonav)}}id="{{this.link}}"{{/if}}>
    <div class="container">
        <div class="more-button">
            <a class="btn btn-default " role="button" data-toggle="collapse" href="#collapse-{{@index}}" aria-expanded="false" aria-controls="collapse-{{@index}}">{{title}} <span class="glyphicon glyphicon-menu-down"></span></a>
        </div>

        <div class="collapse" id="collapse-{{@index}}">
            <div class="row">
                {{#if this.image}}
                <div class="col col-xs-12 col-sm-6">
                    <div class="image-area">
                        <img src="/assets/images/{{image}}" class="img-responsive">
                    </div>
                </div>
                {{/if}}
                <div class="col col-xs-12 {{#if this.image}}col-sm-6{{/if}}">
                    <div class="content-area">
                        {{#block "main"}}{{{contents}}}{{/block}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>