<div class="section contact" id="{{this.link}}">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12 col-sm-6">
                <div class="content-area">
                    {{#block "main"}}{{{contents}}}{{/block}}
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6 contact-info text-right">
                {{#if phone}}
                <p class="phone">
                    <a href="tel:{{phone}}"><span class="glyphicon glyphicon glyphicon-earphone hidden-sm hidden-md hidden-lg"></span><span class="text">{{phone}}</span><span class="glyphicon glyphicon glyphicon-earphone hidden-xs"></span></a>
                </p>
                {{/if}}
                {{#if email}}
                <p class="email">
                    <a href="mailto:{{email}}"><span class="glyphicon glyphicon glyphicon-envelope hidden-sm hidden-md hidden-lg"></span><span class="text">{{email}}</span><span class="glyphicon glyphicon glyphicon-envelope hidden-xs"></span></a>
                </p>
                {{/if}}
                {{#if maplink}}
                <p class="address">
                    <a href="{{maplink}}"><span class="glyphicon glyphicon-map-marker hidden-sm hidden-md hidden-lg"></span><span class="text">{{address}}</span><span class="glyphicon glyphicon-map-marker hidden-xs"></span></a>
                </p>
                {{/if}}
                {{#if press_download}}
                <p class="download"><small><a href="{{press_download}}"><span class="glyphicon glyphicon glyphicon-save hidden-sm hidden-md hidden-lg"></span><span class="text">Presse Download</span><span class="glyphicon glyphicon glyphicon-save hidden-xs"></span></a></small></p>
                {{/if}}
            </div>
        </div>
    </div>
</div>