<div class="section contact" id="{{this.link}}">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12 col-sm-6">
                <div class="content-area">
                    {{#block "main"}}{{{contents}}}{{/block}}
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6 contact-info text-right">
                <p class="phone">
                    <a href="tel:{{phone}}"><span class="glyphicon glyphicon glyphicon-earphone hidden-sm hidden-md hidden-lg"></span><strong>{{phone}}</strong><span class="glyphicon glyphicon glyphicon-earphone hidden-xs"></span></a>
                </p>
                <p class="email">
                    <a href="mailto:{{email}}"><span class="glyphicon glyphicon glyphicon-envelope hidden-sm hidden-md hidden-lg"></span><strong>{{email}}</strong><span class="glyphicon glyphicon glyphicon-envelope hidden-xs"></span></a>
                </p>
                <p class="address">
                    <a href="{{maplink}}" target="blank"><span class="glyphicon glyphicon-map-marker hidden-sm hidden-md hidden-lg"></span><strong>{{address}}</strong><span class="glyphicon glyphicon-map-marker hidden-xs"></span></a>
                </p>
                <p class="download"><small><a href="{{press_download}}"><span class="glyphicon glyphicon glyphicon-save hidden-sm hidden-md hidden-lg"></span><strong>Presse Download</strong><span class="glyphicon glyphicon glyphicon-save hidden-xs"></span></a></small></p>
            </div>
        </div>
    </div>
</div>