<div class="section gallery" id="{{this.link}}">
    <div class="container">
        <div class="story-making-of">
            <div class="content-area">
                <h3 class="text-center">{{title}}</h3>
                {{#block "main"}}{{{contents}}}{{/block}}
            </div>
            <div class="row hidden-xs hidden-sm">
            {{#each gallery}}
                {{#if title}}
                    <div class="col col-xs-12"><h4 class="text-center">{{{title}}}</h4></div>
                {{/if}}
                {{#each poze}}
                    <div class="col col-xs-12 col-sm-4">
                        <div class="item">
                            <img src="/assets/images/{{this}}" class="img-responsive">
                        </div>
                    </div>
                {{/each}}
            {{/each}}
            </div>
            <div class="row hidden-md hidden-lg">
            {{#each gallery}}
                <div class="col col-xs-12 col-sm-6 col-sm-offset-3">
                    {{#if title}}
                        <h4 class="text-center">{{{title}}}</h4>
                    {{/if}}
                    <div id="carousel-{{@index}}" class="carousel slide">
                        <ol class="carousel-indicators">
                            {{#each poze}}<li data-target="#carousel-{{@index}}" data-slide-to="{{@index}}" {{#if (eq @index 0)}}class="active"{{/if}}></li>{{/each}}
                          </ol>
                        <div class="carousel-inner" role="listbox">
                        {{#each poze}}
                            <div class="item {{#if (eq @index 0)}}active{{/if}}">
                                <img src="/assets/images/{{this}}">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        {{/each}}
                          <a class="hide left carousel-control" href="#carousel-{{@index}}" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          </a>
                          <a class="hide right carousel-control" href="#carousel-{{@index}}" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          </a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>