<div class="section story" id="{{this.link}}">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12 col-sm-6">
                <div class="image-area">
                    <img src="/assets/images/{{image}}" class="img-responsive story-image">
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6">
                <div class="content-area">
                    {{#block "main"}}{{{contents}}}{{/block}}
                </div>
            </div>
        </div>
        <div class="story-making-of">
            <h3>
                {{gallery_title}}
            </h3>
            <div class="row">
                {{#each gallery}}
                <div class="col col-xs-12 col-sm-4">
                    <div class="item">
                        <img src="/assets/images/{{this}}" class="img-responsive">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>