<!doctype html>
<html lang="{{langCode}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="8qbz_VyA9hDGtrntffwC0SA3k8ePIbYsh71SUrj8Sns" />
    <meta name="description" content="Pop-up-Wein „PEDALONES“ - Riesling vom Wiener Nussberg 2015 - produziert von Önologe Dragos Pavelescu" />

    <title>d.Pavelescu | PEDALONES Riesling 2015 | Nussberg Wien / Vienna</title>
    
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/app.css?{{fileHash}}">

    <script src="/assets/js/jquery.1.11.3.js?{{fileHash}}"></script>
    <script src="/assets/js/jquery.debounce.js?{{fileHash}}"></script>
    <script src="/assets/js/bootstrap.3.3.6.js?{{fileHash}}"></script>
    <script src="/assets/app.js?{{fileHash}}"></script>
</head>

<body data-function="{{function}}" data-spy="scroll" data-target="#scrollspy" data-offset="140">
	<div class="language">
		<div class="container"> 
			<div class="languages">
			    {{#each collections}}
			    	{{#if (not (eq @key ../langCode))}}
			    	<span class="lang-item"><a href="/{{#if (not (eq @key "de"))}}{{@key}}{{/if}}">{{{this.metadata.langLabel}}} <span class="glyphicon glyphicon glyphicon-chevron-up glyphicon-rotate-90"></span></a></span>
			    	{{else}}
			    	<span class="lang-item">{{{this.metadata.langLabel}}} <span class="glyphicon glyphicon-ok"></span></span>
			    	{{/if}}
			    {{/each}}
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top" id="nav">
		<div class="container"> 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"> 
					<span class="glyphicon glyphicon-menu-hamburger text-primary"></span>
				</button>
				<a class="navbar-brand" href="#home"><strong class="text-hide">D.Pavelescu</strong></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse" aria-expanded="false"> 
				<div class="navbar-right" id="scrollspy"> 
					<ul class="nav navbar-nav"> 
					{{#each contentItems}}
						{{#if (not this.nonav)}}
			            <li class="nav-item">
			            	<a href="#{{this.link}}">
			            		<div class="nav-title">{{this.title}}</div>
			            		<div class="nav-text">{{this.navtext}}</div>
			            	</a>
			            </li>
			            {{/if}}
			        {{/each}}
					</ul> 
				</div> 
			</div> 
		</div> 
	</nav> 
    
    {{#each contentItems}}
        {{#if (not this.tmpl)}}	            
            {{#extend "default"}}
				{{#content "main"}}
                	{{{this.contents}}}
	            {{/content}}

				{{#content "image"}}
	                {{this.image}}
	            {{/content}}
	        {{/extend}}
        {{else}}
            {{#extend this.tmpl}}
				{{#content "main"}}
                	{{{this.contents}}}
	            {{/content}}

				{{#content "image"}}
	                {{this.image}}
	            {{/content}}
	        {{/extend}}
        {{/if}}
	{{/each}}
</body>
</html>