<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pop-up-Wein „PEDALONES“ - Riesling vom Wiener Nussberg 2015 - produziert von Önologe Dragos Pavelescu" />

    <title>PEDALONES Riesling 2015 | Wiener Nussberg | D.Pavelescu</title>
    
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/app.css?{{fileHash}}">

    <script src="/assets/js/jquery.1.11.3.js?{{fileHash}}"></script>
    <script src="/assets/js/jquery.debounce.js?{{fileHash}}"></script>
    <script src="/assets/js/bootstrap.3.3.6.js?{{fileHash}}"></script>
    <script src="/assets/app.js?{{fileHash}}"></script>
</head>

<body data-function="{{function}}" data-spy="scroll" data-target="#scrollspy" data-offset="140">
	<nav class="navbar navbar-default navbar-fixed-top" id="nav">  
		<div class="container"> 
			<div class="navbar-header">
				<a class="navbar-brand text-hide" href="#home">D.Pavelescu</a> 
			</div> 
			<div class="navbar-right" id="scrollspy"> 
				<ul class="nav navbar-nav"> 
				{{#each singlePageItems}}
					{{#if (not this.nonav)}}
		            <li class="nav-item">
		            	<a href="#{{this.link}}">
		            		<div class="nav-title">{{this.title}}</div>
		            		<div class="nav-text">{{this.navtext}}</div>
		            	</a>
		            </li>
		            {{/if}}
		        {{/each}}
				</ul> 
			</div> 
		</div> 
	</nav> 
    
    {{#each singlePageItems}}
        {{#if (not this.tmpl)}}	            
            {{#extend "default"}}
				{{#content "main"}}
                	{{{this.contents}}}
	            {{/content}}

				{{#content "image"}}
	                {{this.image}}
	            {{/content}}
	        {{/extend}}
        {{else}}
            {{#extend this.tmpl}}
				{{#content "main"}}
                	{{{this.contents}}}
	            {{/content}}

				{{#content "image"}}
	                {{this.image}}
	            {{/content}}
	        {{/extend}}
        {{/if}}
	{{/each}}
</body>
</html>