<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{title}}</title>
    
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css?{{fileHash}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css?{{fileHash}}">
    <link rel="stylesheet" type="text/css" href="/assets/app.css?{{fileHash}}">

    <script src="/assets/js/jquery.1.11.3.js?{{fileHash}}"></script>
    <script src="/assets/js/jquery.debounce.js?{{fileHash}}"></script>
    <script src="/assets/js/bootstrap.3.3.6.js?{{fileHash}}"></script>
    <script src="/assets/app.js?{{fileHash}}"></script>
</head>

<body data-function="{{function}}" data-spy="scroll" data-target="#scrollspy">
	<nav class="navbar navbar-default navbar-fixed-top">  
		<div class="container-fluid"> 
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"> 
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button> 
				<a class="navbar-brand" href="/">D.Pavelescu</a> 
			</div> 
			<div class="collapse navbar-collapse" id="navbar-collapse"> 
				<ul class="nav navbar-nav" id="scrollspy"> 
				{{#each singlePageItems}}
					{{#if this.title}}
		            <li><a href="#{{this.link}}">{{this.title}}</a></li>
		            {{/if}}
		        {{/each}}
				</ul> 
			</div> 
		</div> 
	</nav> 
    
        {{#each singlePageItems}}
            {{#if (not this.tmpl)}}	            
	            {{#extend "default"}}
					{{#content "main"}}
	                	{{{this.contents}}}
		            {{/content}}

					{{#content "image"}}
		                {{this.image}}
		            {{/content}}
		        {{/extend}}
            {{else}}
	            {{#extend this.tmpl}}
					{{#content "main"}}
	                	{{{this.contents}}}
		            {{/content}}

					{{#content "image"}}
		                {{this.image}}
		            {{/content}}
		        {{/extend}}
            {{/if}}
    	{{/each}}
    </div>
</body>
</html>